---
layout: default
title: Latest logs
reverse: true
cover: '../2022/lille-oe-in-eko.jpg'
excerpt: Lille Ø is our cruising sailboat, a 1979 Amigo 40. A Swedish-built boat with a Danish name, a Finnish crew, and sailing under the German flag. Follow our adventures as we explore the coasts of the Baltic Sea!
---
<div class="intro">
  {% include position_background.html %}
  <div class="copy">
    <div>
      <h1>{{ site.name | replace: "Lille Ø", "<i>Lille Ø</i>" }}</h1>
      <p>
      <i>Lille Ø</i> is our cruising sailboat, a <a href="{{ site.baseurl }}/boat/">1979 Amigo 40</a>. A Swedish-built boat with a Danish name, a <a href="{{ site.baseurl }}/crew/">Finnish crew</a>, and sailing under the German flag. Follow our adventures as we explore the coasts of the Baltic Sea!
      </p>
    </div>
    <a href="{{ site.baseurl }}/boat/"><img src="{{ site.baseurl }}/2022/lille-oe-in-eko.jpg" alt="Lille Ø"></a>
  </div>
</div>
{% assign logs = site.logs | reverse %}
<ul class="logs">
  {% for post in logs limit:10 %}
  <li id="{{ post.created | date: "%Y%m%d" }}">
    <article>
      <h2 class="meta">{{ post.created | date: "%A, %B %-d, %Y" }}</h2>
      <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>
      {% if post.content.size > 4000 %}
      {{ post.content | split: '<!--more-->' | first | replace: 'img src="..', 'img src="https://meri-imperiumi.github.io/log'| replace: 'https://meri-imperiumi.github.io/log',site.baseurl | replace: "Lille Ø", "<i>Lille Ø</i>" }}
      <p class="meta"><a href="{{ site.baseurl }}{{ post.url }}">Read more &raquo;</a></p>
      {% else %}
      {{ post.content | replace: 'img src="..', 'img src="https://meri-imperiumi.github.io/log'| replace: 'https://meri-imperiumi.github.io/log',site.baseurl | replace: "Lille Ø", "<i>Lille Ø</i>" }}
      {% endif %}
      {% if forloop.last == false %}
        <hr>
      {% endif %}
    </article>
  </li>
  {% endfor %}
</ul>
<div>
  <a href="{{ site.baseurl }}/rss.xml"><img src="{{ site.baseurl }}/style/rss.svg" alt="RSS feed" title="Subscribe via RSS" id="rss" /></a>
  {% if logs[10] %}
  <p class="more">
    <a href="{{ site.baseurl }}/{{ logs[10].created | date: "%Y" }}/" rel="next">More</a>
  </p>
  {% endif %}
</div>
