main .gallery {
  grid-column: 1 / 4;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(22vw, 1fr));
  grid-gap: 1em;
  justify-items: center;
  align-items: center;
  padding: 1em;
  background-color: rgb(129, 151, 166);
}
main .gallery img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  display: block;
}
main .gallery .lightbox {
  display: none;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: rgba(129, 151, 166, 0.9);
}
main .gallery .lightbox:target {
  display: block;
}
main .gallery .lightbox div {
  display: block;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
div.details {
  column-count: 2;
  column-fill: balance;
  column-gap: 1em;
  padding-top: 1em;
}
div.details h2 {
  margin: 0px;
}
div.details > ul {
  margin-top: 0px;
  margin-bottom: 1em;
}
div.details li {
  break-inside: avoid-column;
}
@media (max-width: 760px) {
  main .gallery {
    grid-template-columns: repeat(auto-fit, minmax(40vw, 1fr));
  }
  div.details {
    column-count: 1;
  }
}
