.flags{
   
}

.flags ul{
    padding-left: unset;
}

.flags ul li{
   display: inline-block;
}

.flags ul li img{
    height: 20px;
    border-radius: 0px;
}

.certifications{
   
}

.certifications ul{
   list-style: none;
   padding-left: unset;
}

.certifications ul li{
    display: inline;
}

.certifications ul li ~ li::before {
    content: ', '; 
  }
