body {
  background-color: #e8e8e4;
  color: #000000;
  font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
  font-size: 16pt;
  line-height: 21pt;
  padding: 0;
  margin: 0;
}
h1 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 100;
  text-rendering: optimizeLegibility;
  line-height:  1.3em;
}
h2 {
  font-weight: normal;
  text-rendering: optimizeLegibility;
  line-height:  1.3em;
}
header {
  display: block;
  margin: 0;
  padding: 0;
  padding-left: 7em;
  padding-right: 1em;
  height: 5em;
  background-color: #003247;
  color: #ffffff;
  border-bottom: 4px #cf1d39 solid;
  background-image: url(favicon.png);
  background-size: contain;
  background-position: -2 -2;
  background-repeat: no-repeat;
}
header h1 {
  margin: 0;
  padding: 0;
  line-height: 3em;
  overflow: hidden;
  white-space: nowrap;
}
header h1 a {
  text-decoration: none;
  color: #ffffff;
}
main {
  display: block;
  margin: 0;
  padding: 0;
  padding-left: 1em;
  padding-right: 1em;
  max-width: 42em;
}

main img {
  max-width: 90%;
  max-height: 90vh;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 1em;
}

header nav ul {
  margin: 0;
  padding: 0;
  position: absolute;
  right: 1em;
  top: 3em;
}
header nav ul li {
  list-style: none;
  margin: 0;
  padding-left: 1em;
  padding-right: 0;
  display: inline;;
}
header nav ul li a {
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
}
header nav ul li a:hover,
header nav ul li.active a {
  text-decoration: underline;
}

ul.logs {
  margin: 0;
  padding: 0;
}
ul.logs > li {
  list-style: none;
  margin: 0;
  padding: 0;
}
p.more a {
  font-size: 1.2em;
  text-decoration: none;
  background-color: #335e6f;
  color: #ffffff;
  padding: 4px;
  border-radius: 4px;
}
p.more a:hover {
  text-decoration: underline;
}
a {
  color: #003247;
}
main aside {
  float: right;
  width: 12em;
  padding: 1em;
  margin-left: 1em;
  margin-bottom: 1em;
  margin-right: -12em;
  font-size: smaller;
  background-color: #a75534;
  color: #ffffff;
  border-radius: 1em;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
aside h2 {
  margin-top: 0;
  padding-top: 0;
}
aside p.meta {
  margin-bottom: 0;
  padding-bottom: 0;
}
.meta {
  font-style: italic;
  font-size: smaller;
}
@media (max-width: 1024px) {
  main img {
    max-width: 100%;
  }
  header {
    height: 7em;
  }
  header h1 {
    font-size: 1.3em;
  }
  header nav ul {
    left: 7em;
    right: auto;
    top: 5em;
  }
  header nav ul li {
    padding-right: 1em;
    padding-left: 0;
  }
  main aside {
    float: none;
    width: 80vw;
    margin: 0;
  }
}
