@font-face {
  font-family: 'NotesESA';
  src: url('./NotesESA.woff');
  font-display: swap;
}
body {
  background-color: #e8e8e4;
  color: #000000;
  font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
  font-size: 16pt;
  line-height: 21pt;
  padding: 0;
  margin: 0;
}
h1 {
  font-weight: 100;
  text-rendering: optimizeLegibility;
  line-height:  1.3em;
}
h2 {
  font-weight: normal;
  text-rendering: optimizeLegibility;
  line-height:  1.3em;
}
#beer-us {
  position: fixed;
  top: 5.5em;
  right: 0;
  background-color: #fbab18;
  z-index: 1;
}
#beer-us a {
  width: 4em;
  padding: 0.5em;
  height: 40px;
  text-decoration: none;
  font-family: NotesESA, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
header {
  display: block;
  width: 100vw;
  height: 5em;
  margin: 0;
  padding: 0;
  background-color: #003247;
  color: #ffffff;
  border-bottom: 4px #cf1d39 solid;
}
header > nav {
  max-width: min(70ch, 96%);
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
}
header h1 {
  font-family: NotesESA, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  justify-self: start;
  align-self: center;
}
header h1 a {
  text-decoration: none;
  color: #ffffff;
}
header img {
  width: 5em;
  height: 5em;
  display: block;
  margin: 0 1em;
}
header > nav > div {
  justify-self: end;
  align-self: center;
}
header > nav > ul {
  margin: 0;
  padding: 0;
  font-family: NotesESA, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  justify-self: end;
  align-self: center;
  text-align: right;
}
header > nav ul li {
  font-family: NotesESA, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif;
  list-style: none;
  margin: 0;
  margin-left: 1em;
  padding: 0;
  display: inline;
  white-space: nowrap;
}
header > nav ul li a {
  color: #ffffff;
  text-decoration: none;
}
header nav ul li a:hover,
header nav ul li.active a {
  text-decoration: underline;
}
main {
  display: grid;
  grid-template-columns:
    1fr
    min(70ch, 96%)
    1fr;
  margin: 0;
  padding: 0;
}
main > * {
  grid-column: 2;
}

main hr {
  height: 80px;
  background-image: url('./boat.png');
  background-size: 89px 80px;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
  margin-bottom: 1em;
  border: none;
}

main img {
  max-width: 100%;
  max-height: 90vh;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 1em;
}


ul.logs {
  margin: 0;
  padding: 0;
}
ul.logs > li {
  list-style: none;
  margin: 0;
  padding: 0;
}
ul.logs article h1 {
  font-size: 22pt;
  margin-top: 0.2em;
}
ul.logs article img {
  margin-left: auto;
  margin-right: auto;
}
ul.logs article h1 a {
  text-decoration: none;
}
ul.logs article h1 a:focus,
ul.logs article h1 a:hover {
  text-decoration: underline;
}
main img {
  margin: 1px;
}
main .intro {
  grid-column: 1 / 4;
  position: relative;
  width: 100vw;
  height: 40vw;
}
main .intro > * {
  max-width: min(70ch, 96%);
  margin-left: auto;
  margin-right: auto;
}
main .intro .copy {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-top: 2em;
  column-gap: 2em;
}
main .intro .copy div > * {
  background-color: rgba(232, 232, 228, 0.8);
  padding: 8px;
  margin-left: -8px;
  margin-right: -8px;
}
main .intro h1 {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}
main .intro h1 i {
  font-style: normal;
  white-space: nowrap;
}
main .intro img {
  padding: 0px;
  margin: 0px;
  border-radius: 50%;
  width: 30vw;
  height: 30vw;
  max-width: 300px;
  max-height: 300px;
  object-fit: cover;
  display: block;
  z-index: 1;
}
main .intro.boat img {
  border-radius: 0px;
  object-fit: contain;
}
main .intro #map {
  position: absolute;
  background-color: rgba(232, 232, 228, 0.8);
  top: 0;
  left: 0;
  width: 100vw;
  max-width: 100vw;
  height: 40vw;
  z-index: -1;
}
main .intro #updated {
  position: absolute;
  right: 1em;
  bottom: 0.5em;
  background-color: rgba(232, 232, 228, 0.8);
  padding: 4px;
}
main .timelapse {
  width: 100%;
  grid-column: 1 / 4;
  position: relative;
}
main .logbook {
  grid-column: 1 / 4;
  position: relative;
  font-size: smaller;
  border:none;
  border-collapse: collapse;
  overflow: auto;
}
main .logbook th {
  text-align: left;
}
main .logbook tr {
  margin: 0;
  padding: 0;
}
main .logbook tr:nth-child(even) {
  background-color: #f2f2f2;
}
main .logbook th,
main .logbook td {
  border-left: 1px solid black;
  padding: 4px;
}
main .logbook th:first-child,
main .logbook td:first-child {
  border-left: none;
}
main .logbook .datetime {
  white-space: nowrap;
}
main .blocker {
  height: 59px;
  width: 100vw;
  position: absolute;
  z-index: 1;
  top: -1px;
  background-color: #e8e8e4;
  display: grid;
  grid-template-columns:
    1fr
    min(70ch, 96%)
    1fr;
}
main .blocker p {
  grid-column: 2;
}
main .timelapse iframe {
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 80vh;
  border: none;
}
main nav.prevnext {
  grid-column: 1 / 4;
  width: 100%;
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
}
main nav.prevnext ul {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  margin: 0;
  padding: 0;
  max-width: min(70ch, 96%);
  margin-left: auto;
  margin-right: auto;
}
main nav.prevnext ul li {
  list-style: none;
  margin: 0;
  padding: 0;
  align-self: center;
}
main nav.prevnext ul li .title {
  display: inline-block;
  max-width: 20vw;
  height: auto;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  vertical-align: top;
}
main nav.prevnext ul li.next {
  text-align: right;
  justify-self: end;
}
main nav.prevnext ul li a {
  text-decoration: none;
}
main nav.prevnext ul li a:focus,
main nav.prevnext ul li a:hover,
main nav.prevnext ul li a .title:hover,
main nav.prevnext ul li a .title:hover {
  text-decoration: underline;
}
p.more a,
main nav.prevnext ul li.cruise a {
  font-family: NotesESA, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.2em;
  text-decoration: none;
  background-color: #335e6f;
  color: #ffffff;
  padding: 4px;
  border-radius: 4px;
}
p.more a:hover,
main nav.prevnext ul li.cruise a:hover {
  text-decoration: underline;
}
a {
  color: #003247;
}
main aside {
  float: right;
  width: 12em;
  padding: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-right: 0px;
  margin-left: 1em;
  font-size: smaller;
  background-color: #335e6f;
  color: #ffffff;
  border-radius: 1em;
  font-family: NotesESA, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
aside.image {
  padding: 0px;
  border-radius: 0px;
  background-color: transparent;
  width: 24em;
}
aside h2 {
  margin-top: 0;
  padding-top: 0;
}
aside a {
  color: #ffffff;
}
aside ul {
  padding-left: 16px;
}
aside li {
  font-size: smaller;
}
h2.meta {
  margin-bottom: 0;
  padding-bottom: 0;
}
.meta {
  font-style: italic;
  font-size: smaller;
}
#rss {
  float: right;
  margin-top: 0.7em;
  margin-left: 1em;
  width: calc(1.2em + 16px);
  height: calc(1.2em + 16px);
  border-radius: 0px;
}
#hamburger,
#hamburger-state {
  display:none;
}
#sidebar {
  visibility: hidden;
  position: fixed;
  top: 10px;
  right: -60vw;
  width: 60vw;
  z-index: 3;
  transition: 0.3s;
  padding: 1em;
  box-sizing: border-box;
}
#sidebar h2 {
  font-family: NotesESA, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif;
  display: block;
  margin-top: 0px;
}
#sidebar ul,
#sidebar ul li {
  display: block;
  padding: 0;
  margin: 0;
}
#sidebar ul li {
  margin-bottom: 0.6em;
}
#overlay {
  background-color: #003247;
  position: fixed;
  display: block;
  visibility: hidden;
  height: 100vh;
  width: 60vw;
  top: 0px;
  opacity: 0.99;
  z-index: 2;
  right: -60vw;
  transition: 0.3s;
}
@media (max-width: 760px) {
  main img {
    max-width: 100%;
  }
  header h1 {
    font-size: 1.3em;
  }
  main .intro {
    height: 60vh;
  }
  main .intro h1 {
    font-size: 1.4em;
  }
  main .intro #map {
    height: 60vh;
  }
  main .intro .copy {
    margin-top: 0em;
  }
  main .intro .copy > * {
    margin-right: -8px;
  }
  main .intro .copy p,
  main .intro #updated {
    font-size: inherit;
  }
  main .intro .copy img {
    display: none;
  }
  main .intro #updated {
    padding: 8px;
    margin: 2%;
  }
  main aside {
    float: none;
    width: 80vw;
    margin: 0;
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
  }
  main nav.prevnext ul li .title {
    display: none;
  }
}
@media (max-width: 900px) {
  #menu {
    display: none;
  }
  #hamburger {
    display: block;
    width: 50px;
    height: 50px;
    box-sizing: border-box;
    border: 15px solid #003247;
    border-right: 0px;
    border-left: 30px solid #003247;
    background: linear-gradient(
      to bottom,
      white, white 20%,
      transparent 20%, transparent 40%,
      white 40%, white 60%,
      transparent 60%, transparent 80%,
      white 80%, white 100%
    );
  }
  #hamburger-state:checked + #hamburger #sidebar,
  #hamburger-state:checked ~ #overlay {
    visibility: visible;
    right: 0px;
  }
  header {
    margin-top: 40px;
  }
  #beer-us {
    top: 0;
    right: 0;
    width: 100vw;
    height: 40px;
    position: absolute;
    text-align: center;
  }
  #beer-us a {
    vertical-align: middle;
    vertical-align: -webkit-baseline-middle;
    vertical-align: -moz-middle-with-baseline;
  }

}
@media (max-width: 1024px) {
  main .intro .copy div p {
    font-size: smaller;
  }
  main .intro #updated {
    font-size: x-small;
  }
  main .intro,
  main .intro #map {
    height: 60vh;
  }
}
@media (min-width: 1600px) {
  main .intro > * {
    max-width: min(120ch, 96%);
  }
  main .intro .copy h1 {
    font-size: 1.8em;
    line-height: 2em;
  }
  main .intro .copy p {
    font-size: 1.4em;
    line-height: 1.6em;
  }
}
@media (max-width: 760px) {
  main .logbook {
    display: block;
    width: 100vw;
    max-height: 60vh;
    overflow: auto;
    font-size: 8pt;
  }
}
@media (max-height: 700px) {
  main .intro #updated {
    display: none;
  }
  main .intro .copy p {
    font-size: 0.8em;
    line-height: 1em;
  }
}
