{% assign first_day = "2021-08-30" %}
{% if page.collection %}
    {% assign links = site[page.collection]  %}
{% endif %}

{% for link in links %}
  {% if link.created == page.created %}
    {% unless forloop.first %}
      {% assign prev = tmpprev %}
    {% endunless %}
    {% unless forloop.last %}
      {% assign next = links[forloop.index] %}
    {% endunless %}
  {% endif %}
  {% assign tmpprev = link %}
{% endfor %}
{% assign this_day = page.created | date: "%Y-%m-%d" %}
{% assign previous_day = prev.created | date: "%Y-%m-%d" %}
{% assign next_day = page.created | date: "%s" | plus: 86400 | date: "%Y-%m-%d" %}
{% if previous_day >= first_day %}
{% assign log_entries = "" | split: "," %}
{% for day in site.data.logbook %}
  {% if day[0] > previous_day %}
    {% if day[0] <= this_day %}
      {% assign log_entries = log_entries | concat: day[1] %}
    {% endif %}
  {% endif %}
{% endfor %}
{% if log_entries %}
  {% if log_entries.size > 0 %}
  {% assign log_entries = log_entries | sort: 'datetime' %}
  <hr>
  <h2>From the logbook</h2>
  <table class="logbook">
    <tr>
      <th>Time</th>
      <th>Position</th>
      <th>Course</th>
      <th>Speed</th>
      <th>Log</th>
      <th>Weather</th>
      <th>Remarks</th>
    </tr>
    {% for entry in log_entries %}
    <tr>
      <td class="datetime">{{ entry.datetime | date: "%d.%m. %k:%M Z" }}</td>
      {% assign lat_deg = entry.position.latitude | abs %}
      {% assign lat_deg_f = lat_deg | floor %}
      {% assign lat_min = lat_deg | minus: lat_deg_f | times: 60 %}
      {% assign lat_min_f = lat_min | floor %}
      {% assign lat_sec = lat_min | minus: lat_min_f | times: 60 | floor %}
      {% assign lon_deg = entry.position.longitude | abs %}
      {% assign lon_deg_f = lon_deg | floor %}
      {% assign lon_min = lon_deg | minus: lon_deg_f | times: 60 %}
      {% assign lon_min_f = lon_min | floor %}
      {% assign lon_sec = lon_min | minus: lon_min_f | times: 60 | floor %}
      <td>
        <span>{{ lat_deg_f }}&deg;{{ lat_min_f }}'{{ lat_sec }}"{% if entry.position.latitude >= 0 %}N{% else %}S{% endif %}</span>
        <span>{{ lon_deg_f }}&deg;{{ lon_min_f }}'{{ lon_sec }}"{% if entry.position.longitude >= 0 %}E{% else %}W{% endif %}</span>
      </td>
      <td>
        {% if entry.course %}
        {{ entry.course }}&deg;
        {% else %}
        {{ entry.heading }}&deg;
        {% endif %}
      </td>
      <td>{{ entry.speed.sog }}kt</td>
      <td>{{ entry.log }}NM</td>
      <td>
        {% if entry.wind %}
        <span>wind {{ entry.wind.speed }}kt {{ entry.wind.direction }}&deg;</span>
        {% endif %}
        {% if entry.observations %}
          {% if entry.observations.seaState %}
          <span>sea state {{ entry.observations.seaState }}/10</span>
          {% endif %}
          {% if entry.observations.cloudCoverage %}
          <span>clouds {{ entry.observations.cloudCoverage }}/8</span>
          {% endif %}
          {% if entry.observations.visibility %}
          <span>visibility {{ entry.observations.visibility }}/10</span>
          {% endif %}
        {% endif %}
        {% if entry.barometer %}
        <span>baro {{ entry.barometer | floor }} hPa</span>
        {% endif %}
      </td>
      <td>
        {% if entry.text == "" %}
        Hourly position log
        {% else %}
        {{ entry.text | replace: "ihmis-suski", "Suski" }}
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  </table>
  {% endif %}
{% endif %}
{% endif %}
