<ul class="logs">
  {% if page.reverse %}
  {% assign logs = site.logs | reverse %}
  {% else %}
  {% assign logs = site.logs %}
  {% endif %}
  {% for post in logs %}
    {% assign post_year = post.created | slice: 0,4 %}
    {% if post_year == log_year %}
  <li>
    <h2>{{ post.created | date: "%Y-%m-%d" }} {{ post.title }}</h2>
    {{ post.content | replace: 'img src="..', 'img src="https://meri-imperiumi.github.io/log'| replace: 'https://meri-imperiumi.github.io/log',site.baseurl }}
  </li>
    {% endif %}
  {% endfor %}
</ul>
