{% if page.collection %}
    {% assign links = site[page.collection]  %}
{% endif %}

{% for link in links %}
  {% if link.created == page.created %}
    {% unless forloop.first %}
      {% assign prev = tmpprev %}
    {% endunless %}
    {% unless forloop.last %}
      {% assign next = links[forloop.index] %}
    {% endunless %}
  {% endif %}
  {% assign tmpprev = link %}
{% endfor %}

{% assign year = page.created | date: "%Y" %}
<nav class="prevnext">
  <ul>
    <li class="prev">{% if prev %}<a href="{{ prev.url}}">&laquo; <span class="title">{{ prev.title }}</span></a>{% endif %}</li>
    <li class="cruise">
      <a href="{{ site.baseurl }}/{{ year }}/">{{ year }} cruise</a>
    </li>
    <li class="next">{% if next %}<a href="{{ next.url}}"><span class="title">{{ next.title }}</span> &raquo;</a>{% endif %}</li>
  </ul>
</nav>

