  <div id="map"></div>
  <img id="boatmarker" src="{{site.baseurl}}/style/boat.png" style="width: 60px; height: 60px" alt="We are here">
  <link href="https://unpkg.com/maplibre-gl@2.1.7/dist/maplibre-gl.css" rel="stylesheet" />
  <script defer src="https://unpkg.com/maplibre-gl@2.1.7/dist/maplibre-gl.js"></script>
  <script>
    window.addEventListener('DOMContentLoaded', function() {
      const map = new maplibregl.Map({
        container: 'map',
        style: 'https://api.maptiler.com/maps/voyager/style.json?key=BgltQL3i6kfpoIy9GMqW',
        center: [{{ site.data.position.longitude | plus: 0.2 }}, {{ site.data.position.latitude | plus: 0.8 }}],
        zoom: {% if site.data.position.at_sea == true %}6{% else %}8{% endif %},
      });

      const marker = new maplibregl.Marker({
          element: document.getElementById('boatmarker'),
        })
        .setLngLat([{{ site.data.position.longitude }}, {{ site.data.position.latitude }}])
        .addTo(map);
    });
  </script>
  <p id="updated" class="meta">Position updated {{ site.data.position.time | date: "%A, %B %-d, %Y %H:%M UTC" }} via {{ site.data.position.source }}</p>
