{{ post.created | date: "%A, %B %-d, %Y" }}{%
if post.position %}
  {% assign lat_deg = post.position.lat | abs %}
  {% assign lat_deg_f = lat_deg | floor %}
  {% assign lat_min = lat_deg | minus: lat_deg_f | times: 60 %}
  {% assign lat_min_f = lat_min | floor %}
  {% assign lon_deg = post.position.lon | abs %}
  {% assign lon_deg_f = lon_deg | floor %}
  {% assign lon_min = lon_deg | minus: lon_deg_f | times: 60 %}
  {% assign lon_min_f = lon_min | floor %}
  <span class="geo">
    <abbr class="latitude" title="{{ post.position.lat }}">{{ lat_deg_f }}&deg;{{ lat_min_f }}'{% if post.position.lat >= 0 %}N{% else %}S{% endif %}</abbr>
    <abbr class="longitude" title="{{ post.position.lon }}">{{ lon_deg_f }}&deg;{{ lon_min_f }}'{% if post.position.lon >= 0 %}E{% else %}W{% endif %}</abbr>
  </span>
{% endif %}
