{% include read_log_entries.html %}
{% assign map_longitude = site.data.position.longitude %}
{% assign map_latitude = site.data.position.latitude %}
{% if log_entries %}
  {% if log_entries.size > 0 %}
    {% assign log_entry = log_entries | first %}
    {% assign map_longitude = log_entry.position.longitude %}
    {% assign map_latitude = log_entry.position.latitude %}
  {% endif %}
{% endif %}
<section class="track">
  {% assign track_name = page.path | replace: '_logs/', '' | replace: '.md', '.json' %}
  <div class="map" id="map"></div>
  <link href="https://unpkg.com/maplibre-gl@2.1.7/dist/maplibre-gl.css" rel="stylesheet" />
  <script defer src="https://unpkg.com/maplibre-gl@2.1.7/dist/maplibre-gl.js"></script>
  <script>
    window.addEventListener('DOMContentLoaded', function() {
      const map = new maplibregl.Map({
        container: 'map',
        style: 'https://api.maptiler.com/maps/voyager/style.json?key=BgltQL3i6kfpoIy9GMqW',
        center: [{{ map_longitude}}, {{ map_latitude }}],
        zoom: 6,
        scrollZoom: false,
      });
      map.on('load', () => {
        fetch('/tracks/{{ track_name }}')
          .then((data) => data.json())
          .then((geoJson) => {
            map.touchZoomRotate.disableRotation();
            map.addSource('{{ track_name }}', {
              type: 'geojson',
              data: geoJson,
            });
            map.addLayer({
              'id': '{{ track_name }}',
              'type': 'line',
              'source': '{{ track_name }}',
              'layout': {
                'line-join': 'round',
                'line-cap': 'round'
              },
              'paint': {
                'line-color': '#cf1d39',
                'line-width': 5
              }
            });
            const coordinates = geoJson.coordinates[0];
            const bounds = coordinates.reduce((bounds, coord) => {
              return bounds.extend(coord);
            }, new maplibregl.LngLatBounds(coordinates[0], coordinates[1]));

            map.fitBounds(bounds, {
              padding: 40
            });

          })
          .catch((e) => {
            document.getElementById('map').style.display = 'none';
          });
      });
    });
  </script>
</section>
