{% assign nexttime = site.created | date: '%s' %}

{% if post.collection %}
    {% assign links = site[post.collection]  %}
{% endif %}
{% for link in links %}
  {% if link.created == post.created %}
    {% unless forloop.first %}
      {% assign prevtime = tmpprev.created | date: '%s' %}
    {% endunless %}
    {% unless forloop.last %}
      {% assign nexttime = links[forloop.index].created | date: '%s' %}
    {% endunless %}
  {% endif %}
  {% assign tmpprev = link %}
{% endfor %}

{% assign posttime = post.created | date: '%s' %}
{% assign currentyear = page.year %}
{% assign currentyearnumber = currentyear | abs %}

{% for video in site.videos %}
  {% assign videotime = video.timestamp | date: '%s' %}
  {% assign videoyear = video.timestamp | date: '%Y' | abs %}
  {% if videotime < nexttime %}
    {% if videotime > posttime %}
      {% if currentyear == nil or currentyearnumber == videoyear %}
      <li id="{{ video.timestamp | date: "%Y%m%d" }}" class="video">
        <article>
          <h2 class="meta">{{ video.timestamp | date: "%A, %B %-d, %Y" }}<h2>
          <h1><a href="{{ video.link }}">Video postcard: {{ video.title }}</a></h1>
          {{ video.content }}
          <p class="meta">Finnish audio, English subtitles</p>
          <hr>
        </article>
      </li>
      {% endif %}
    {% endif %}
  {% endif %}
{% endfor %}

