---
layout: boat
title: 'Isosaari - Spindrift 9N'
cover: '../2024/spindrift.jpg'
gallery:
  - title: "Beach landing in Shetland Islands"
    url: '../2024/d6a73cf1606657d5140a023474fe5501.jpg'
  - title: "Test sail in Berlin"
    url: '../2024/94ce97a1db45edb1c47fd00979450223.jpg'
  - title: "Naming ceremony"
    url: '../2024/PXL_20240224_130349219.jpg'
  - title: "Stowed on deck"
    url: '../2024/20240207_164636.jpg'
  - title: "Rowing on Scharfe Lanke"
    url: '../2024/PXL_20240207_152003274.jpg'
  - title: "Rowing at Gothia"
    url: '../2024/PXL_20240207_151701594.jpg'
  - title: "Dinghy ready for painting"
    url: '../2024/20240129_153752.jpg'
  - title: "After planing the gunwales"
    url: '../2024/PXL_20240124_103639261.jpg'
  - title: "Gunwales are on"
    url: '../2024/20240116_174708.jpg'
  - title: "Pressing the boat into shape"
    url: '../2024/PXL_20240114_143328290.jpg'
  - title: "CNC cutting the boat"
    url: '../2024/2024-01-06_14_14_45.jpg'
excerpt: 'We have a Spindrift 9N nesting dinghy that we built ourselves'
---
<div class="intro">
  {% include position_background.html %}
  <div class="copy">
    <div>
      <h1>Our dinghy: <i>Isosaari</i></h1>

      <p>
        <i>Isosaari</i> is our Spindrift 9N nesting dinghy that we built ourselves in the winter of 2024.
      </p>
    </div>
    <img src="../2024/spindrift.jpg" alt="Spindrift 9N">
  </div>
</div>

<div>
  <aside>
    <h2>Links</h2>
    <ul>
      <li><a href="https://bandbyachtdesigns.com/spindrift">Spindrift dinghy plans from B&B</a></li>
      <li><a href="https://messing-about.com/forums/topic/15611-spindrift-9n-1579-build/">Build log on messing-about</a></li>
      <li><a href="../2024-02-02/">Story of our dinghy build</a></li>
    </ul>
  </aside>
  <h2 id="in-numbers">In numbers</h2>
  <ul>
    <li>Hull number: 1579</li>
    <li>Length: 2.75m</li>
    <li>Beam: 1.25m</li>
    <li>Nested length: 1.39m</li>
    <li>Nested height: 0.56m</li>
    <li>Weight: 36.5kg (14kg bow section, 22.5kg aft section)</li>
    <li>Anchor: 2.5kg grapnel</li>
  </ul>
</div>

{% include gallery.html %}
