---
layout: default
title: Videos
---
{% include video_element.html %}
<h1>{{ page.title }}</h1>
<div>
  <p>Our video postcards can also be found <a href="https://www.youtube.com/@lille-oe">on YouTube</a> and <a href="https://lone.earth/c/lille.oe_channel/videos">on PeerTube</a>.</p>
</div>
<hr>
<ul class="logs">
{% assign videos = site.videos | reverse %}
{% for video in videos %}
  {% assign video_id = video.link | replace: 'https://youtu.be/', '' %}
  {% assign video_link = video.link %}
  {% if video.peertube %}
    {% assign video_link = video.peertube %}
  {% endif %}
  <li id="{{ video.timestamp | date: "%Y%m%d" }}" class="video">
    <article>
      <h2 class="meta">{{ video.timestamp | date: "%A, %B %-d, %Y" }}<h2>
      {% if video.title contains ': ' %}
      <h1><a href="{{ video_link }}">{{ video.title }}</a></h1>
      {% else %}
      <h1><a href="{{ video_link }}">Video postcard: {{ video.title }}</a></h1>
      {% endif %}
      <lite-youtube videoid="{{ video_id }}"></lite-youtube>
      <p class="meta">
        Spoken Finnish with English subtitles.
        {% if video.peertube %}
          Available on <a href="{{ video.peertube }}">PeerTube</a> and <a href="{{ video.link }}">YouTube</a>
        {% endif %}
      </p>
      <hr>
    </article>
  </li>
{% endfor %}
</ul>

