---
layout: default
unlinked_countries:
   - AX
---
{{ content }}
{% assign sorted_crew = site.crew | sort: "crew-order"%}
{% for crew in sorted_crew %}
  <article>
    <h2 id="{{ crew.name  | downcase | url_encode }}">{{ crew.name }} - {{ crew.position }}</h2>
    {{ crew.content }}
    <img src="{{ crew.photo }}" alt="{{ crew.name }}" />
    {% if site.data.crew_miles %}
        {% assign name = crew.username %}
        {% assign total = site.data.crew_miles[name].miles | plus: site.data.crew_miles[name].miles_from_logger %}
        <p> Sailed {{ total }} NM since {{ crew.logged-year}} </p>
    {% endif %}
    {% if crew.certifications %}
        <div class="certifications">
            <p>Certifications:</p>
            <ul>
                {% for certification in  crew.certifications %}<li>{{ certification }}</li>{% endfor %}
            </ul>
        </div>
    {% endif %}
    <div class="flags">
        <ul>
            {% for country_code in  crew.countries-sailed %}
                <li>
                    {% unless layout.unlinked_countries contains country_code %}
                    <a href="https://countrycode.org/{{ country_code }}">
                      <img src="/style/flags/iso/{{ country_code | downcase }}.png" alt="{{ country_code }}" title="{{ country_code }}" />
                    </a>
                    {% else %}
                      <img src="/style/flags/iso/{{ country_code | downcase }}.png" alt="{{ country_code }}" title="{{ country_code }}" />
                    {% endunless %}
                </li>
            {% endfor %}
        </ul>
    </div>
  </article>
  {% if forloop.last == false %}
  <hr>
  {% endif %}
{% endfor %}
