<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }} - {{ site.name }}{% if page.location %} in {{ page.location }}{% endif %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#003247">
    <link rel="stylesheet" href="{{site.baseurl}}/style/default.css">
    <link rel="alternate" type="application/rss+xml" href="{{ site.baseurl }}/rss.xml" title="{{ site.name }} feed">
  </head>
  <body>
    <header>
      <h1><a href="{{ site.baseurl }}/">{{ site.name }}</a></h1>
      <nav>
        <ul class="years">
          {% for year in site.years %}
          <li><a href="{{ site.baseurl }}{{ year.url }}">{{ year.year }}</a></li>
          {% endfor %}
        <ul>
      </nav>
    </header>
    <main>
      <h1>{{ page.title }}</h1>
      {{ content }}
    </main>
  </body>
</html>
