<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }} - {{ site.name }}{% if page.location %} in {{ page.location }}{% endif %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#003247">
    <link rel="stylesheet" href="{{site.baseurl}}/style/default.css">
    <link rel="alternate" type="application/rss+xml" href="{{ site.baseurl }}/rss.xml" title="{{ site.name }} feed">
    <link rel="icon" type="image/png" href="{{ site.baseurl }}/style/favicon.png">
    <meta name="google-site-verification" content="Nng4HTYv8aPQTVA-Yf3gMB1uJM5TbJ5EmyBWZFnJE-8">
  </head>
  <body>
    <header>
      <nav>
        <h1><a href="{{ site.baseurl }}/">Lille Ø</a></h1>
        <a href="{{ site.baseurl }}/"><img src="{{ site.baseurl }}/style/favicon.png" alt="Meri-Imperiumi" /></a>
        <div>
          <ul id="menu">
            {% for year in site.years %}
            <li><a href="{{ site.baseurl }}{{ year.url }}">{{ year.year }}</a></li>
            {% endfor %}
            <li><a href="{{ site.baseurl }}/boat/">Boat</a></li>
          </ul>
          <input type="checkbox" id="hamburger-state" class="burger">
          <label id="hamburger" for="hamburger-state">
            <nav id="sidebar">
              <h2>Menu</h2>
              <ul>
                {% for year in site.years %}
                <li><a href="{{ site.baseurl }}{{ year.url }}">{{ year.year }}</a></li>
                {% endfor %}
                <li><a href="{{ site.baseurl }}/boat/">Boat</a></li>
              </ul>
            </nav>
          </label>
          <div id="overlay"></div>
        </div>
      </nav>
    </header>
    <main>
      {{ content }}
    </main>
  </body>
</html>
