---
layout: default
---
{% include nextprev.html %}
<article>
  <h2 class="meta">{{ page.created | date: "%A, %B %-d, %Y" }}</h2>
  <h1>{{ page.title }}</h1>
  {{ content | replace: "Lille Ø", "<i>Lille Ø</i>" | replace: "Isosaari", "<i>Isosaari</i>" }}
</article>

<hr>

{% if page.content contains "Distance today" %}
  {% include track.html %}
{% elsif page.title contains "Intermission" %}
  {% include track.html %}
{% endif %}

{% include nextprev.html %}

{% if page.content contains "Distance today" %}
  {% include logbook.html %}
  {% if log_entries %}
    {% if log_entries.size > 0 %}
  {% include nextprev.html %}
    {% endif %}
  {% endif %}
{% endif %}
